@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi mascota favorita</h1>
    <p>Los perros son animales domesticos que viven entre 10 a 13 años. 
        Su altura y peso varia segun la raza.
        ------------</p>
    <img src="imagen.jpg" alt="imagen de perro" width="100" height="100">
</div>
