@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi mascota favorita</h1>
    <p>Los perros son animales domesticos que viven entre 10 a 13 años. 
        Su altura y peso varia segun la raza.</p>
    <img src="imagen.jpg" alt="imagen de perro">
    <article> Viaje con mi mascota </article>
    <p>Un verano cualquiera mi mascota y yo viajamos a chile, especificamente a iquitos, un lugar a veces caluroso y otras veces muy frio pero siempre desertico.
        Cuando lo lleve a la playa tuve cuidado con que no se alejara mucho debido a las medusas debido a que alguien
        fue atacado por una de ellas mientras estaba cerca de la orilla.</p>
    <img src="viaje.jpg" alt="imagen del viaje">
</div>
